.consent {
  position: fixed;
  inset-block-end: 0%;
  inset-inline-start: 0%;
  background-color: var(--color-text);
  color: var(--color-bg);
  padding: var(--space-s);
  margin: var(--gap);
  max-inline-size: min(95vw, 30rem);
  font-size: var(--size-step-min-1);
  border: 1px solid var(--color-bg-accent);
}

.consent.contain {
  --margin: 0px;
  overflow: auto;
  max-inline-size: calc(100% - (var(--margin) * 2));
  max-block-size: calc(100% - (var(--margin) * 2));
}
