dialog {
  border-radius: var(--border-radius-small);
  inset: revert;
}

/* the image that serves as button */
dialog + button {
  /* all: unset; */
  --flow-space: 0;
  cursor: zoom-in;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) dialog + button {
  cursor: default;
}

dialog::backdrop {
  background: var(--color-dark);
  opacity: 0.9;
  filter: brightness(50%);
}

dialog .button {
  --button-bg: var(--color-light);
  --button-color: var(--color-dark);
}

dialog img {
  max-inline-size: min(95vw, 67rem);
  max-block-size: 80vh;
  object-fit: contain;
}

dialog figcaption {
  color: var(--color-light);
}
