.faq .prose ul {
  padding-inline-start: 0.2ch;
}

.faq .prose li::marker {
  color: var(--color-pink);
  content: '';
}

.faq .prose ul ul {
  margin-top: var(--space-s);
  padding-inline-start: 1ch;
}

.faq .prose li li::marker {
  color: var(--color-pink);
  content: '- ';
}
