/* Search Toggle Visibility */

.search-toggle {
  display: flex;
  justify-content: flex-start;
  order: 0;
  background: none;
  border: none;
  padding-block: var(--space-s) var(--space-2xs);
  cursor: pointer;
}

@media screen(navigation) {
  .search-toggle {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
  }
}

.search-toggle svg {
  block-size: auto;
  stroke-width: 2.5px;
}

pagefind-search {
  position: absolute;
  inset-inline-end: 0;
  top: 120%;
  inline-size: min(100%, 25rem);
}

.pagefind-ui form {
  display: flex;
  position: relative;
  block-size: var(--space-m);
}

.pagefind-ui form:before {
  position: absolute;
  inline-size: 1ch;
  block-size: 1ch;
  background-color: var(--color-text);
  inset-block-start: 0.8ch;
  inset-inline-start: 1ch;
  content: '';
  mask-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0ic2VhcmNoIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZT0iY3VycmVudENvbG9yIj4KICA8cGF0aCBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGQ9Im0yMSAyMS01LjE5Ny01LjE5N20wIDBBNy41IDcuNSAwIDEgMCA1LjE5NiA1LjE5NmE3LjUgNy41IDAgMCAwIDEwLjYwNyAxMC42MDdaIiAvPgo8L3N2Zz4K);
}

.pagefind-ui input {
  padding-inline-start: 2.25rem;
  padding-inline-end: 1rem;
  inline-size: 100%;
  border-radius: var(--border-radius-small);
  border: 2px solid var(--color-bg-accent-2);
  background-color: var(--color-bg-accent);
  font-size: var(--size-step-min-1);
  color: var(--color-text);
}

.pagefind-ui .pagefind-ui__results-area {
  position: absolute;
  inset-inline-start: 0;
  inline-size: 100%;
  margin-block-start: var(--space-l);
  inset-inline-start: auto;
  inset-inline-end: 0;
  border-radius: var(--border-radius-small);
  overflow: hidden;
  border: 2px solid var(--color-bg-accent-2);
  background-color: var(--color-bg-accent);
}

.pagefind-ui ol {
  display: flex;
  flex-direction: column;
  max-block-size: 50vh;
  overflow-y: auto;
  gap: var(--space-2xs);
  padding: var(--space-xs);
}

.pagefind-ui li {
  list-style: none;
  border-radius: var(--border-radius-small);
  padding: var(--space-xs);
  border: 1px solid var(--color-bg-accent-2);
}

.pagefind-ui li:hover,
.pagefind-ui li:focus-within {
  background-color: var(--color-bg-accent-2);
  border: 1px solid var(--color-bg);
}

.pagefind-ui li:focus-within a:focus {
  outline: none;
}

.pagefind-ui li {
  position: relative;
}

.pagefind-ui li a:after {
  position: absolute;
  inset: 0;
  content: '';
}

.pagefind-ui .pagefind-ui__result-title {
  font-weight: var(--font-medium);
  margin-block-end: var(--space-xs);
}

.pagefind-ui .pagefind-ui__result-excerpt {
  font-size: var(--size-step-min-1);
}

.pagefind-ui .pagefind-ui__button,
.pagefind-ui .pagefind-ui__search-clear,
.pagefind-ui .pagefind-ui__message,
.pagefind-ui .pagefind-ui__hidden {
  display: none;
}

.pagefind-ui .pagefind-ui__message:has(+ ol:empty) {
  display: block;
  text-align: center;
  color: var(--color-text);
  padding: var(--space-xs);
}

.pagefind-ui .pagefind-ui__message + ol:empty {
  display: none;
}
