.logo {
  display: grid;
  gap: 0;

  font-size: var(--size-step-logo);
  text-decoration: none;
  font-weight: var(--font-medium);
  position: relative;
  justify-items: end;
}

@media screen(navigation) {
  .logo {
    padding-block: var(--space-3xs);
  }
}

.logo svg {
  color: var(--color-blue-500);
  block-size: auto;
}

.logo .dyvenia svg {
  block-size: 1.15lh;
}
