.theme-switch h2 {
  font-size: var(--size-step-min-1);
  font-family: var(--font-base);
}

.theme-switch .button {
  --button-border-color: var(--color-text);
  --button-border-width: 2px;
  --button-color: var(--color-light);
  --button-bg: var(--color-dark);
  font-family: var(--font-display);
  border-radius: var(--border-radius-small);
  font-size: var(--size-step-min-2);
  padding: 0.1rem 0.625rem;
  font-weight: var(--font-semi-bold);
  min-block-size: 1.5em;
  text-transform: uppercase;
}

.theme-switch .button[aria-pressed='true'] {
  --_color-primary-contrast: var(--color-blue-600);
  --button-bg: var(--_color-primary-contrast);
  --button-color: var(--color-light);
  --button-border-color: var(--_color-primary-contrast);
  outline-color: var(--_color-primary-contrast);
}

/* Hide without JS */
is-land:not(:defined) .theme-switch {
  display: none;
}
