---
layout: base
schema: blog
---

<div class="region blog">
  <div class="wrapper flow">
    <h1>{{ title }}</h1>

    {% if image %}
      {% image image, alt or "", credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster gutter-xs">
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}

      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" and tag != "case-studies" %}
          <a class="button" data-small-button data-ghost-button href="/tags/{{ tag }}/"> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {% if author %}
      <p class="meta | cluster gutter-s mt-xl">
        {% set postAuthor = author %}

        {% for author in collections.team_members %}
          {% if author.data.name == postAuthor %}
            <a href="{{ author.url }}" class="cluster gutter-xs">
              {% image "." + author.data.image, author.data.name, null, null, null, "aspect-1 rounded-full object-cover", [100], "100px" %}
              <span> by {{ author.data.name }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}

    {% if toc %}
      <div class="toc-container | relative">
        <a href="#toc-skipped" id="skip-toc" class="skip-link">{{ meta.toc.skipLink }}</a>
        <!-- <h2 id="table-of-contents">{{ meta.toc.title }}</h2> !-->
      </div>
    {% endif %}

    <div class="sidebar gutter-s relative flow">{{ content | safe }}</div>

    <div class="sidebar sidebar-newsletter gutter-lg relative mt-xl-2xl">
      <div></div>
      {% include "partials/hubspot-form.njk" %}
    </div>

    {% include 'partials/edit-on.njk' %}
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      eleventy:ignore
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</div>

{%- css "local" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}

{% js "defer" %}
  {% include "scripts/dialog.js" %}
{% endjs %}
