---
layout: base
schema: blog
---

<article class="region blog">
  <div class="wrapper flow prose">
    <h1>{{ title }}</h1>

    {% if image %}
      {% image image, alt or title, credit, "eager", "feature" %}
    {% endif %}

    <p class="meta | cluster gutter-xs">
      <!-- date -->
      {% set definedDate = date %} {% include "partials/date.njk" %}
      {%
        if tags.length >
        1
      %}
        <!-- tags -->
        {% for tag in tags %}{% if tag != "posts" %}
          <a class="button" data-small-button href="/tags/{{ tag }}"> {{ tag }} </a>
        {% endif %}{% endfor %}
      {% endif %}
    </p>

    {% if toc %}
      <div class="toc-container | relative">
        <a href="#toc-skipped" id="skip-toc" class="visually-hidden skip-link">{{ meta.toc.skipLink }}</a>
        <h2 id="table-of-contents">{{ meta.toc.title }}</h2>
      </div>
    {% endif %}

    {{ content | safe }}
    {% include 'partials/edit-on.njk' %}
  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author.name }}</a>
    <img
      class="u-author h-card"
      src="{{ meta.author.avatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author.name }}"
    />
  </div>
</article>

{%- css "inline" -%}
  {%- include 'css/post.css' -%}
  {%- include 'css/footnotes.css' -%}
{%- endcss -%}
