---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <h1>{{ title }}</h1>

  <div class="sidebar" style="--sidebar-target-width: min(25rem, 25%); --sidebar-content-min-width: 20%;">
    {% image "." + image, "", null, "eager", null, "rounded-full aspect-1 object-cover", [300], "300px" %}
    <div class="flow">
      <div class="cluster">
        <h2>{{ name }}</h2>
        {% if linkedin %}
          <p>
            <a href="{{ linkedin }}" rel="me">
              {% svg 'platform/linkedin', "LinkedIn", "text-pink text-step-2" %}
            </a>
          </p>
        {% endif %}
      </div>

      {% if description_long %}
        {{ description_long | markdownFormat | safe }}
      {% endif %}

      <h3>Latest blog posts:</h3>

      <ul>
        {% for post in collections.allPosts %}
          {% if post.data.author == name %}
            <li>
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  {% include "partials/hubspot-form.njk" %}
</div>
