---
layout: base
---

<div class="region wrapper flow prose" style="--region-space-top: var(--space-xl-2xl)">
  <div class="sidebar" style="--sidebar-target-width: 12rem; --sidebar-content-min-width: 55%;">
    {% image "." + image, "", null, "eager", null, "rounded-full aspect-1 object-cover" %}

    <div class="flow">
      <header class="repel">
        <div>
          <h1 class="text-step-3">{{ name }}</h1>
          {% if role %}<p class="text-step-min-1 font-bold">{{ role }}</p>{% endif %}
        </div>

        {% if linkedin %}
          <a class="no-indicator" href="{{ linkedin }}" rel="me">
            {% svg 'platform/linkedin', "LinkedIn", "text-pink text-step-2" %}
          </a>
        {% endif %}
      </header>

      {% if description_long %}
        {{ description_long | markdownFormat | safe }}
      {% endif %}

      {% if expertise.length or technologies.length %}
        <div class="grid gutter-s">
          {% if expertise.length %}
            <article class="border p-2xs rounded-medium flow prose">
              <h2 class="text-step-0">Expertise</h2>
              <ul class="text-step-min-1 flow-space-xs" style="--list-padding: var(--space-4xs);">
                {% for item in expertise %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </article>
          {% endif %}
          {% if technologies.length %}
            <article class="border p-2xs rounded-medium flow ">
              <h2 class="text-step-0 ">Technologies</h2>
              <div class="cluster gutter-3xs text-step-min-1 flow-space-xs">
                {% for item in technologies %}
                  <span class="button" data-small-button data-pill-button>{{ item }}</span>
                {% endfor %}
              </div>
            </article>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <h2 class="text-step-0">Latest blog posts:</h2>

  <!-- {% for post in collections.allPosts %}
    {% if post.data.author == name %}
      {% set item = post %}
      {% set headingLevel = "h3" %}
      {% set showDescription = false %}
      {% include "partials/card-blog.njk" %}
    {% endif %}
  {% endfor %} -->
  <ul>
    {% for post in collections.allPosts %}
      {% if post.data.author == name %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% include "partials/hubspot-form.njk" %}
</div>
