.post h1 + :is(picture, figure) img {
  max-inline-size: var(--max-img-width, 100%);
  block-size: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

time {
  font-size: var(--size-step-min-1);
  color: var(--color-pink);
  text-transform: uppercase;
  font-weight: var(--font-medium);
}

.post .credit {
  font-size: var(--size-step-min-1);
  color: var(--color-text-accent);
  background-color: var(--color-bg);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-small);
  transform: translateY(-4ch) translateX(-0.5ch);
  max-inline-size: fit-content;
}

.post .meta {
  font-size: var(--size-step-min-1);
  max-inline-size: 100%;
}

.post img {
  background: var(--color-light);
}

.post .blog .wrapper > * {
  grid-column: feature;
}

.post p:empty {
  display: none;
}

.post p:empty + * {
  --flow-space: 0;
}

.post .toc-container {
  --flow-space: var(--space-xl);
}

.post .toc-container h2 {
  font-size: var(--size-step-1);
  text-transform: uppercase;
}

.post .table-of-contents {
  padding: var(--space-2xs) var(--space-s);
  background: var(--color-bg-accent);
  background: color-mix(in oklab, var(--color-bg) 97%, var(--color-text));
  border-radius: var(--border-radius-small);
}

@media (min-width: 51rem) {
  .post .table-of-contents {
    background: transparent;
    padding: 0;
    padding-inline-end: var(--space-s);
    border-inline-end: 1px solid var(--color-bg-accent-2);
  }
}

.post .table-of-contents a {
  text-decoration: none;
}

.post .table-of-contents a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.08em;
}

.post .table-of-contents > ol {
  position: sticky;
  top: var(--space-m);
  block-size: 100svh;
  overflow-y: auto;
  padding-inline-end: var(--space-m);
  padding-block-end: var(--space-xs);
}

.post .table-of-contents ol {
  margin-block-start: var(--space-3xs);
  line-height: 1.5em;
  font-size: var(--size-step-min-1);
}

.post .table-of-contents ol ol {
  list-style: lower-latin;
  padding-inline-start: 1.8ch;
  font-weight: normal;
}

.table-of-contents :is(ol ol ol, ol ol ol ol) {
  display: none;
}

.post .table-of-contents ol > li > ol > li + li {
  padding-block-start: var(--space-3xs);
}

.post dialog {
  border-radius: var(--border-radius-small);
  inset: revert;
}

.post dialog + button {
  /* all: unset; */
  cursor: zoom-in;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) .post dialog + button {
  cursor: default;
}

.post dialog::backdrop {
  background: var(--color-dark);
  opacity: 0.9;
  filter: brightness(50%);
}

.post dialog .button {
  --button-bg: var(--color-light);
  --button-color: var(--color-dark);
}

.post dialog img {
  aspect-ratio: auto;
  max-block-size: 70vh;
  inline-size: auto;
}

.post dialog figcaption {
  color: var(--color-light);
}
