---
layout: base
title: Blog
description: 'Welcome to The Scalable Way Blog — your source for insights, strategies, and best practices in data platform engineering, analytics, and data science.'
bodyClass: insights
footerSpace: mt-2xl
pagination:
  data: collections.allPosts
  size: 6
permalink: 'blog/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
intro: >
  Welcome to The Scalable Way Blog — your source for insights, strategies, and best practices in data platform engineering, analytics, and data science.
---

<div class="wrapper flow">
  <header class="full | section">
    <div class="section__inner flow region region-space-xl">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>
  </header>

  <aside class="full | section" style="--spot-color: var(--color-bg); --flow-space: 0;">
    <div class="section__inner flow wrapper pt-l-xl full">
    {% include "partials/hubspot-form.njk" %}
  </div>
  </aside>

  <div class="region flow prose region-space-xl">
    {{ intro | markdownFormat | safe }}
  </div>

<section class="feature" aria-describedby="blog-section">
  <h2 id="blog-section" class="visually-hidden">Blog posts</h2>

  <custom-masonry layout="50-50">
		{% asyncEach item in pagination.items %}
			{% include "partials/card-blog.njk" %}
		{% endeach %}
	</custom-masonry>
</section>


  <!-- set collection to paginate -->
  {% set collectionToPaginate = collections.posts %}
  <!-- set target pagination settings in meta.js -->
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    <!-- include pagination -->
    {% include 'partials/pagination.njk' %}
  {% endif %}



</div>
