---
layout: base
title: Case studies
description: 'Explore our success stories, which showcase how our approach to data platform engineering has helped businesses achieve greater scalability, efficiency, and reliability in their data operations.'
bodyClass: insights
footerSpace: mt-2xl
pagination:
  data: collections.allCaseStudies
  size: 6
permalink: 'case-studies/{% if pagination.pageNumber >=1 %}page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html'
intro: >
  Explore our success stories, which showcase how our approach to data platform engineering has helped businesses achieve greater scalability, efficiency, and reliability in their data operations.
---

<div class="wrapper flow">
  <header class="full | section">
    <div class="section__inner flow region region-space-xl">
      <h1 class="text-center text-base-light">{{ title }}</h1>
    </div>
  </header>

  <aside class="full | section" style="--spot-color: var(--color-bg); --flow-space: 0;">
    <div class="section__inner flow wrapper pt-l-xl full">
    {% include "partials/hubspot-form.njk" %}
  </div>
  </aside>

  <div class="region flow prose region-space-xl">
    {{ intro | markdownFormat | safe }}
  </div>

  <section class="feature" aria-describedby="blog-section">
    <h2 id="blog-section" class="visually-hidden">Blog posts</h2>

    <custom-masonry layout="50-50">
      {% asyncEach item in pagination.items %}
        {% set definedDate = false %}
        {% include "partials/card-blog.njk" %}
      {% endeach %}
    </custom-masonry>
  </section>

  {% set collectionToPaginate = collections.posts %}
  {% set metaKey = "blog" %}
  <!-- if the number of items in the collection is greater than the number of items shown on one page -->
  {% if collectionToPaginate.length > pagination.size %}
    {% include 'partials/pagination.njk' %}
  {% endif %}
</div>
