---
title: Our process
description: 'How We Build Scalable Data Platforms:  We design and implement modular data platforms that are flexible, efficient, and built to scale.'
hero:
  title: How We Build Scalable Data Platforms
  subtitle: |-
    We design and implement modular data platforms that are flexible, efficient, and built to scale. 

    Our process transforms complex data development workflows & operations into reliable, automated systems.
  button_text: Learn more about how we work
  button_target: https://thescalableway.com/contact/
  image: ./src/assets/images/backgrounds/sfondi-dyvenia23.jpg
intro:
  title1: Our Modular
  title2: Data Platform Framework
  content: Our approach **prioritizes modularity**. Rather than focusing solely on individual tools, we design platforms where components integrate seamlessly. A **streamlined developer experience** ensures adaptability, operational efficiency, and long-term scalability.
what_are:
  title: What Is a Modular Data Platform?
  content: A modular data platform organizes data processing into distinct, interconnected components designed for a specific function. Each tool is optimized for a specific function and integrated through clear interfaces. Such architecture enhances scalability, simplifies maintenance, and improves reliability. It also enables automation through CI/CD pipelines while isolating failures to specific modules.
  button_text: Learn More About Modular Data Platforms
  button_target: /blog/what-is-a-modular-data-platform/
  image: /assets/images/Modular_Data_Platform.png
  image_alt: Data platform architecture schema with tools and technologies
steps:
  title: Our Process
  intro: We follow a structured, two-stage process to deliver scalable, automated data solutions.
  title_outcomes: 'Outcomes:'
  title_what: What we do?
steps_elements:
  stage_1:
    label: Stage 1
    name: Blueprint
    steps:
      - label: Step 1
        title: Architecture Review
        content: We assess your infrastructure and compare it to best-practice reference architectures.
        outcomes: |-
          - Identification of architecture gaps (missing capabilities or inefficiencies).
          - An inventory of tools, processes, and integrations.
          - An outline of how users create and manage analytical models.
          - Evaluation of the platform’s scalability and automation readiness.
      - label: Step 2
        title: Create a Roadmap
        content: We turn findings into a phased implementation plan, including an MVP, to deliver immediate value.
        outcomes: |-
          - A step-by-step execution plan.
          - An assessment of the platform's connectivity and security.
          - Estimation of technical and non-technical resourcing needs.
          - A functional MVP to demonstrate and test early benefits.
  stage_2:
    label: Stage 2
    name: Releases
    steps:
      - label: Step 3
        title: Sprint Platform and Pipelines
        content: We build and deploy infrastructure and data pipelines iteratively, ensuring continuous improvement.
        outcomes: |-
          - Infrastructure as code to automate the platform's configuration.
          - Standardized ingestions as code for reliable batch ingestions.
          - Documentation of the progress, updates, and key changes.
          - Ongoing sprint and progress reviews.
      - label: Step 4
        title: Operationalize and Support
        content: We transition the developed infrastructure and data pipelines to operations and support.
        outcomes: |-
          - Comprehensive documentation for maintenance and troubleshooting.
          - Knowledge transfer (training sessions to onboard your team).
          - Well-defined service-level agreements.
          - Ongoing support (continuous monitoring, issue resolution, and platform optimization).
why:
  title: Why Our Process Works
  intro: 'Our process is built on experience and real-world implementation. These principles guide every project:'
why_elements:
  - title: Modular Design
    content: Ensures flexibility by focusing on well-defined components and interfaces.
  - title: Automation First
    content: Reduces manual effort and improves reliability.
  - title: Outcome Based
    content: We focus on clarifying deliverables and scope at each step of the process, so you pay for results rather than just billable hours.
faq:
  title: FAQ
  intro: Curious to know more? Schedule a call and get all your questions answered!
  cta:
    label: Let’s talk
    target: https://meetings-eu1.hubspot.com/alessio-civitillo/the-scalable-way
  items:
    - title: What is the typical timeline of the collaboration?
      content: |-
        The timeline depends on the project scope, existing infrastructure, and specific business needs. Typically:

        - The **blueprint phase** takes 8-12 weeks, where we assess your architecture and define a roadmap.
        - The **release phase** varies based on implementation complexity, but our goal is for each release to take between 4 to 8 weeks.
    - title: How much involvement is required from our team?
      content: |-
        - **Blueprint phase:** Approximately 24 hours in total, mainly for workshops, architecture reviews, and roadmap validation.
        - **Releases phase:** Around 6 to 12 hours, depending on the complexity and level of internal collaboration needed for deployment and integration.
    - title: When can we expect to see the first outcomes?
      content: The first MVP is typically delivered during the blueprint phase, usually **8-12 weeks** after the collaboration kick-off. This allows for early validation of key assumptions and quick value realization.
    - title: Can we engage with The Scalable Way for just the blueprint phase?
      content: Yes. You can choose to work with us only on the Blueprint phase, where we focus on assessing your current setup, identifying gaps, and creating a detailed roadmap. This provides a clear implementation strategy, whether you proceed with us or handle execution internally.
    - title: Can you integrate with our existing technology stack?
      content: Yes, but while our modular approach ensures seamless integration with your existing tools and infrastructure, our focus on automation and good developer experience means we would not be a good fit if your goal is to use mostly UI-based ETL tools.
    - title: Who from my team should be involved in the project?
      content: |-
        Key participants should include:

        - Data engineers to provide technical insights and collaborate on architecture design and implementation.
        - Interested stakeholders, such as product owners, analysts, or business leaders, should align the solution with organizational goals and ensure business value.
bodyClass: process
blog:
  intro: Selected Articles. Check our blog for more.
  title: Our Insights
permalink: /our-process/index.html
layout: base
---
<header class="section page-header">
  {% svg "divider/soft-top-bubble", null, "seperator small" %}

  {% if hero.image %}
    {% image hero.image, "", null, "eager" %}
  {% endif %}

  <div class="section__inner region region-space-xl">
    <div class="wrapper flow">
      <h1>{{ hero.title }}</h1>
      {{ hero.subtitle | markdownFormat | safe }}
      <a href="{{ hero.button_target }}" class="button flow-space-l no-indicator">
        {{ hero.button_text }} {% svg "misc/arrow" %}</a
      >
    </div>
  </div>
</header>

<div class="intro | wrapper">
  <header class="header | region flow prose">
    <h2 class="text-step-3">{{ intro.title1 }} <span>{{ intro.title2 }}</span></h2>
    {{ intro.content | markdownFormat | safe }}
  </header>
</div>

<div class="what | wrapper">
  <article class="feature region  grid" data-layout="50-50">
    <div class="flow">
      <h2 class="text-step-2">{{ what_are.title }}</h2>
      {{ what_are.content | markdownFormat | safe }}
      <a href="{{ what_are.button_target }}" class="button flow-space-l no-indicator" data-ghost-button>
        {{ what_are.button_text }} {% svg "misc/arrow" %}</a
      >
    </div>
    {% image what_are.image | replace("/src", ""), what_are.image_alt %}
  </article>
</div>

<section class="steps | wrapper region" aria-labelledby="steps-title">
  <div class="feature">
    <header id="steps-title" class="header | flow">
      <h2 class="text-step-3">{{ steps.title }}</h2>
      <p>{{ steps.intro }}</p>
    </header>

    <div class="tabs mt-xl">
      <nav aria-label="Process Stages">
        <ul class="arrows | repel" role="list">
          {% for stageKey, stage in steps_elements %}
            <li>
              <h3><span>{{ stage.label }}</span> {{ stage.name }}</h3>
              <ul class="cluster" role="tablist">
                {% for step in stage.steps %}
                  <li role="presentation">
                    <span class="step-number" aria-hidden="true">{{ step.label.slice(5) }}</span>
                    <button
                      id="tab-{{ stageKey }}-{{ loop.index }}"
                      role="tab"
                      data-tab-target="panel-{{ stageKey }}-{{ loop.index }}"
                      aria-controls="panel-{{ stageKey }}-{{ loop.index }}"
                      aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
                      class="button"
                    >
                      <span class="step-title">{{ step.title }}</span>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>

      {% for stageKey, stage in steps_elements %}
        {% for step in stage.steps %}
          <div
            tabindex="0"
            id="panel-{{ stageKey }}-{{ loop.index }}"
            role="tabpanel"
            data-tab-panel="panel-{{ stageKey }}-{{ loop.index }}"
            aria-labelledby="tab-{{ stageKey }}-{{ loop.index }}"
          >
            <div class="sidebar mt-xl">
              <header class="flow">
                <p class="button" data-label>{{ stage.label }} {{ stage.name }}</p>
                <h3 class="flow-space-2xs">{{ step.title }}</h3>
              </header>
              <article class="flow prose">
                <h4>{{ steps.title_what }}</h4>
                {{ step.content | markdownFormat | safe }}
                <h4>{{ steps.title_outcomes }}</h4>
                {{ step.outcomes | markdownFormat | safe }}
              </article>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>

  </div>
</section>


<div class="why | wrapper">
  <article class="full region flow">
    <header class="header | flow">
      <h2 class="text-step-3">{{ why.title }}</h2>
      <p>{{ why.intro }}</p>
    </header>
    <div class="split mt-xl">
      {% svg "brand/check" %}
      <ol class="timeline">
        {% for key in why_elements %}
          <li>
            <span>{{ loop.index }}</span>
            <div class="flow flow-space-3xs">
              <h3 class="text-step-1">{{ key.title }}</h3>
              <p>{{ key.content }}</p>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </article>
</div>

<div class="faq | wrapper region">
  <div class="sidebar feature">
    <div class="flow">
      <h2>{{ faq.title }}</h2>
      <p>{{ faq.intro }}</p>
      <a href="{{ faq.cta.target }}" class="button flow-space-l no-indicator" data-button-variant="blue">
        {{ faq.cta.label }} {% svg "misc/arrow" %}</a
      >
    </div>
    <div class="details flow">
      <div class="control | cluster" aria-label="{{ meta.details.aria }}">
        <button id="expandAll" class="button" data-small-button>{{ meta.details.expand }}</button>
        <button id="collapseAll" class="button" data-small-button>{{ meta.details.collapse }}</button>
      </div>
      {%- for item in faq.items -%}
        <details id="{{ item.title | slugify }}" class="prose">
          <summary>{{ item.title }}</summary>
          {{- item.content | markdownFormat | safe -}}
        </details>
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="wrapper">
  <section class="full | region">
    <div class="wrapper flow prose">
      <h2><a class="no-underline hover:underline" href="/insights/">{{ blog.title }}</a></h2>

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature">
        <custom-masonry layout="50-50">
        <!-- loop posts -->
        {% set itemList = collections.allPosts %}
        {% asyncEach item in itemList.slice(0, 4) %}
          {% set definedDate = item.date %}
          {% include "partials/card-blog.njk" %}
        {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>

{%- css "local" -%}
  {%- include 'css/process.css' -%}
  {%- include "css/page-header.css" -%}
  {%- include "css/details.css" -%}
{%- endcss -%}

{% js "defer" %}
  {% include "scripts/details.js" %}
  {% include "scripts/tabs.js" %}
{% endjs %}
