---
title: Our process
permalink: /our-process/index.html
description: ''
layout: base
bodyClass: process
hero:
  title: How We Turn Data into Impact
  subtitle: |-
    Transform scattered data and unstructured reports into actionable, unified business metrics that drive performance.

    Discover how our proven process delivers clarity, alignment, and measurable results.
  button_text: Let’s talk
  button_target: https://meetings-eu1.hubspot.com/alessio-civitillo/book-a-call
  image: ./src/assets/images/backgrounds/sfondi-dyvenia26.jpg
intro:
  title1: Discover our
  title2: Metrics Accelerator Program
  content: |-
    Designed to help your organization gain clarity and precision, our **Metrics Accelerator Program** turns fragmented data into unified metrics using custom data marts.
what_are:
  title: What Are Data Marts?
  content: |-
    Data Marts are specialized repositories that focus on specific areas of interest within your organization. Organized within broader data domains, they consolidate information from multiple sources into a streamlined, accessible structure. By storing only the most relevant data for specific user groups, data marts make analysis efficient, insightful, and impactful.
  button_text: Learn More About Data Marts
  button_target: '/blog/what-as-a-data-mart-and-what-challenges-does-it-solve/'
  image: ./src/assets/images/data-marts.png
  image_alt: "A three-part data flow diagram showcasing the journey from data sources to actionable metrics and insights. Section 1, labeled 'Sources,' features logos of SAP, Infor, Salesforce, Excel, and SharePoint as data input systems. Section 2, labeled 'Data Marts,' includes two domains: 'Domain 1: Sales' with data marts for Sales Targets, Backlog Execution, Backlog Snapshot, Price Realization, and Daily Sales with Cost; and 'Domain 2: Finance' with data marts for Inventory, Accounts Payable, and Accounts Receivable. Section 3, labeled 'Metrics & Insights,' outlines categories: Sales Performance, Profitability Performance, and A/R Performance, with examples like Pipeline Analytics, Pricing Performance, and Aging Analytics. The flow is guided by an 'Extract Transform Load' process linking sources to data marts, and from data marts to reports, dashboards, and predictions."
steps:
  title: Our Process
  intro: 'Our approach ensures seamless alignment with your business objectives through a structured, two-stage process:'
  title_outcomes: 'Outcomes:'
  title_what: 'What we do?'
steps_elements:
  stage_1:
    label: Stage 1
    name: Plan
    steps:
      step_1:
        label: Step 1
        title: Perform a Metrics Audit
        content: |-
          We evaluate your existing metrics, identify gaps, and define the desired outcome of our collaboration. To validate our key learnings, we run a Minimum Viable Product (MVP).
        outcomes:
          - Identification of metrics gaps
          - A catalog of required data metrics
          - A maturity score of your data landscape
          - A functional MVP to demonstrate value
      step_2:
        label: Step 2
        title: Create a Roadmap
        content: |-
          We translate the benchmark into a detailed roadmap, outlining the resources, IT infrastructure, and steps required to achieve your data goals.
        outcomes:
          - A comprehensive data marts roadmap
          - Identification of domain owners
          - A resource plan for successful execution
          - Infrastructure review and recommendations
  stage_2:
    label: Stage 2
    name: Execution
    steps:
      step_3:
        label: Step 3
        title: Release Metrics & Reports
        content: |-
          Through iterative sprints, our analysts develop the agreed-upon data metrics and reports. We validate the outputs, align them with stakeholders, and onboard your teams.
        outcomes:
          - Unified metrics
          - Standardized reports ready for use
          - Aligned outputs with organizational needs
          - Onboarded users, prepared to leverage the new insights
      step_4:
        label: Step 4
        title: Operationalize and Support
        content: |-
          We transition the developed marts and reports to operations, ensuring they are run, monitored, and supported seamlessly.
        outcomes:
          - Handover to operational teams
          - Continued technical and strategic support
          - Reliable, scalable systems to power ongoing insights
          - Comprehensive training and documentation

why:
  title: Why Our Process Work
  intro: |-
    Our methodology has been tested over many years and use cases, and it works thanks to these key pillars:
why_elements:
  - title: Standards
    content: We have data marts building blocks in domains such as sales, purchasing, inventory, and production, ensuring we move faster and avoid asking basic questions.
  - title: Cross-Functional
    content: Our teams are cross-functional and can work with both IT and business at the same time.
  - title: Outcome Based
    content: We are focused on the outcome, which is unified metrics for your business, and not on consuming development days.

faq:
  title: FAQ
  intro: |-
    Curious to know more? Schedule a call and get all your questions answered!
  cta:_label: Let’s talk
  cta_target: https://meetings-eu1.hubspot.com/alessio-civitillo/book-a-call
  items:
    - title: What is the typical steps from initial assessment to project kick-off?
      content: |-
        - Planning Phase: Typically takes 8-12 weeks, depending on schedules.
        - Execution Phase: Ranges from 6 to 24 months, depending on the approved scope and complexity.
    - title: How much involvement is required from my team?
      content: |-
        - Planning Phase: Approximately 20 hours per involved executive over the 8-12 weeks.
        - Execution Phase:
            - ~2 hours per week per data owner
            - ~2 hours per week per subject-matter expert
            - ~2 hours per week for the steering committee
    - title: When can we expect to see the first data marts and reports?
      content: |-
        - We deliver a Minimum Viable Product (MVP) during the first step of the planning phase.
        - Initial outcomes can be seen from 3 to 12 weeks after the collaboration kick-off.
    - title: Who from my team should be involved in the project?
      content: |-
        - Executives to provide strategic direction
        - Data owners to ensure access and alignment
        - Subject-matter experts (SMEs) for domain-specific insights
        - Steering committee members for oversight and decision-making
    - title: What industries and domains does dyvenia specialize in?
      content: |-
        - We specialize in manufacturing with expertise in:
            - Finance
            - Performance management
            - Sales and operations
    - title: Does my organization need a certain level of data maturity to work with dyvenia?
      content: |-
        - No. Our solutions are tailored to meet you where you are and help elevate your data maturity, whether you’re just beginning or refining your approach.
    - title: Can you integrate with our existing tools and technology stack?
      content: |-
        - Yes. We design our solutions to seamlessly fit into any architecture and tech stack, ensuring compatibility and minimal disruption to your workflows.
    - title: Can we engage with dyvenia only for Phase 1 of the process?
      content: |-
        - Yes. You can choose to work with us only on the planning phase.
        - We focus on auditing your metrics, identifying gaps, creating a tailored roadmap, and delivering an MVP.
        - This phase delivers valuable insights and a clear action plan, whether or not you proceed to the execution phase with us.
    - title: How much does a typical project cost?
      content: |-
        - Phase 1: €45,000. If you’re not satisfied, we offer a full refund of all invoices.
        - Phase 2: Scoping during planning determines the budget.
        - For a mid-sized team, costs typically average ~€50,000 per month.

blog:
  intro: Selected Articles. Check our blog for more.
  title: Our Insights
---

<header class="section page-header">
  {% svg "divider/soft-top-bubble", null, "seperator small" %}

  {% if hero.image %}
    {% image hero.image, "", null, "eager" %}
  {% endif %}

  <div class="section__inner region region-space-xl">
    <div class="wrapper flow">
      <h1>{{ hero.title }}</h1>
      {{ hero.subtitle | markdownFormat | safe }}
      <a href="{{ hero.button_target }}" class="button flow-space-l">
        {{ hero.button_text }} {% svg "misc/arrow" %}</a
      >
    </div>
  </div>
</header>

<div class="intro | wrapper">
  <header class="header | region flow prose">
    <h2 class="text-step-3">{{ intro.title1 }} <span>{{ intro.title2 }}</span></h2>
    {{ intro.content | markdownFormat | safe }}
  </header>
</div>

<div class="what | wrapper">
  <article class="feature region  grid" data-layout="50-50">
    <div class="flow">
      <h2 class="text-step-2">{{ what_are.title }}</h2>
      {{ what_are.content | markdownFormat | safe }}
      <a href="{{ what_are.button_target }}" class="button flow-space-l" data-ghost-button>
        {{ what_are.button_text }} {% svg "misc/arrow" %}</a
      >
    </div>
    {% image what_are.image, what_are.image_alt %}
  </article>
</div>

<section class="steps | wrapper region" aria-labelledby="steps-title">
  <div class="feature">
    <header id="steps-title" class="header | flow">
      <h2 class="text-step-3">{{ steps.title }}</h2>
      <p>{{ steps.intro }}</p>
    </header>

    <div class="tabs mt-2xl">
      <nav aria-label="Process Stages">
        <ul class="arrows | repel" role="list">
          {% for stageKey, stage in steps_elements %}
            <li>
              <h3><span>{{ stage.label }}</span> {{ stage.name }}</h3>
              <ul class="cluster" role="tablist">
                {% for stepKey, step in stage.steps %}
                  <li role="presentation">
                    <span class="step-number" aria-hidden="true">{{ step.label.slice(5) }}</span>
                    <button
                      id="tab-{{ stepKey }}"
                      role="tab"
                      data-tab-target="panel-{{ stepKey }}"
                      aria-controls="panel-{{ stepKey }}"
                      aria-selected="{% if loop.first %}true{% else %}false{% endif %}"
                      class="button"
                    >
                      <span class="step-title">{{ step.title }}</span>
                    </button>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </nav>

      {% for stageKey, stage in steps_elements %}
        {% for stepKey, step in stage.steps %}
          <div
            tabindex="0"
            id="panel-{{ stepKey }}"
            role="tabpanel"
            data-tab-panel="panel-{{ stepKey }}"
            aria-labelledby="tab-{{ stepKey }}"
          >
            <div class="sidebar mt-xl-2xl">
              <header class="flow">
                <p class="button" data-label>{{ stage.label }} {{ stage.name }}</p>
                <h3 class="flow-space-2xs">{{ step.title }}</h3>
              </header>
              <article class="flow prose">
                <h4>{{ steps.title_what }}</h4>
                <p>{{ step.content }}</p>
                <h4>{{ steps.title_outcomes }}</h4>
                <ul>
                  {% for outcome in step.outcomes %}
                    <li>{{ outcome }}</li>
                  {% endfor %}
                </ul>
              </article>
            </div>
          </div>
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>

<div class="why | wrapper">
  <article class="full region flow">
    <header class="header | flow">
      <h2 class="text-step-3">{{ why.title }}</h2>
      <p>{{ why.intro }}</p>
    </header>
    <div class="split mt-xl">
      {% svg "brand/check" %}
      <ol class="timeline">
        {% for key in why_elements %}
          <li>
            <span>{{ loop.index }}</span>
            <div class="flow flow-space-3xs">
              <h3 class="text-step-1">{{ key.title }}</h3>
              <p>{{ key.content }}</p>
            </div>
          </li>
        {% endfor %}
      </ol>
    </div>
  </article>
</div>

<div class="faq | wrapper region">
  <div class="sidebar feature">
    <div class="flow">
      <h2>{{ faq.title }}</h2>
      <p>{{ faq.intro }}</p>
      <a href="{{ hero.button_target }}" class="button flow-space-l" data-button-variant="blue">
        {{ hero.button_text }} {% svg "misc/arrow" %}</a
      >
    </div>
    <div class="details flow">
      <div class="control | cluster" aria-label="{{ meta.details.aria }}">
        <button id="expandAll" class="button" data-small-button>{{ meta.details.expand }}</button>
        <button id="collapseAll" class="button" data-small-button>{{ meta.details.collapse }}</button>
      </div>
      {%- for item in faq.items -%}
        <details id="{{ item.title | slugify }}" class="prose">
          <summary>{{ item.title }}</summary>
          {{- item.content | markdownFormat | safe -}}
        </details>
      {%- endfor -%}
    </div>
  </div>
</div>

<div class="wrapper">
  <section class="full | region">
    <div class="wrapper flow prose">
      <h2><a class="no-underline hover:underline" href="/insights/">{{ blog.title }}</a></h2>

      {% if blog.intro %}
        <p>{{ blog.intro }}</p>
      {% endif %}

      <div class="feature">
        <custom-masonry layout="50-50">
        <!-- loop posts -->
        {% set itemList = collections.allPosts %}
        {% asyncEach item in itemList.slice(0, 4) %}
          {% set definedDate = item.date %}
          {% include "partials/card-blog.njk" %}
        {% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>

{%- css "inline" -%}
  {%- include 'css/process.css' -%}
  {%- include "css/page-header.css" -%}
  {%- include "css/details.css" -%}
{%- endcss -%}

{% js "defer" %}
  {% include "scripts/details.js" %}
  {% include "scripts/tabs.js" %}
{% endjs %}
