---
title: Subscribe to newsletter
permalink: /subscribe/index.html
description: 'Subscribe to our newsletter for the latest insights, strategies, and best practices in data platform engineering, analytics, and data science.'
layout: base
footerSpace: mt-2xl
---

<div class="region wrapper flow prose">
  <h1>Newsletter</h1>
  <p>
    In our Newsletter we share the latest insights, strategies, and best practices in data platform
    engineering, analytics, and data science. Subscribe now to stay up to date!
  </p>
  {% include "partials/hubspot-form.njk" %}
</div>
