{% set headingLevel = headingLevel | default("h2") %}
{% set definedDate = definedDate | default(item.date) %}
{% set showTags = showTags | default(true) %}
{% set showDescription = showDescription | default(true) %}

<custom-card clickable>
  <{{ headingLevel }} class="text-step-2" slot="headline">
    <a href="{{ item.url | url }}">{{ item.data.title }}</a>
  </{{ headingLevel }}>
  <span class="text-pink uppercase font-medium" slot="date"> {% include "partials/date.njk" %} </span>
  {% if showTags and item.data.tags.length > 1 %}
    <div slot="tag" class="cluster gutter-2xs">
      {% for tag in item.data.tags %}
        {% if tag != "posts" and tag != "case-studies" %}
          <span class="button" data-small-button>{{ tag }}</span>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  {% if showDescription %}
    <div slot="content" webc:nokeep>{{ item.data.description | markdownFormat | safe }}</div>
  {% endif %}
</custom-card>

{% css "local" %}
  {% include "css/custom-card.css" %}
{% endcss %}
