<div id="consent-banner" class="consent flow" hidden>
  <p>{{ consent.message | safe }}</p>
  <div class="cluster gutter-2xs">
    <button type="button" class="button" data-consent-decline data-small-button data-pill-button>
      {{ consent.decline }}
    </button>
    <button type="button" class="button" data-consent-accept data-small-button data-pill-button>
      {{ consent.accept }}
    </button>
  </div>
</div>
