<header class="site-header | wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="popout | relative repel ontop gutter-3xs items-start">
    <a href="/" class="logo" {{ indicateActiveHome }}>
      {% svg "brand/logo" %}
      <span class="visually hidden"> {{ meta.siteName }} </span>
      <span class="dyvenia | cluster gutter-3xs text-step-min-2 text-gray-500">
        by {% svg "brand/dyvenia" %}</span
      >
      <span class="visually hidden"> Dyvenia </span>
    </a>

    <!-- Search Wrapper for Both Views -->
    {% include "partials/main-nav.njk" %}
    {% include 'partials/search.njk' %}
  </div>
</header>
