<header class="site-header | wrapper">
  <a href="#main" class="skip-link">{{ meta.skipContent }}</a>

  <div class="popout | relative repel ontop gutter-3xs">
    <a href="/" class="logo | cluster gutter-2xs" {% if page.url == "/" %}aria-current="page"{% endif %}>
      {% svg "brand/logo" %}
      {{ meta.siteName }}
      <span class="dyvenia | cluster gutter-3xs text-step-min-2 text-dove-gray-500">
        by {% svg "brand/dyvenia" %}</span
      >
    </a>

    <!-- Search Wrapper for Both Views -->
    {% include "partials/main-nav.njk" %}
    {% include 'partials/search.njk' %}
  </div>
</header>
